.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/login_background.jpg');
  background-position: center;
  background-size: cover;
  margin-top: -10rem;
  box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.8);
}
