.container {
  /* position: relative; */
  min-height: calc(100vh - 328px);
  max-width: 140rem;
  margin-left: auto;
  margin-right: auto;
}

.filter_container {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}

.header {
  margin-left: 2.5rem;
  margin-bottom: 1.6rem;
}

.card {
  margin-right: 0;
}
