.container {
  position: relative;
  min-height: calc(100vh - 328px);
}

.filter_container {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}

.header {
  margin-left: 3rem;
}

.card {
  margin-right: 0;
}
