.btn {
  color: white;
  font-size: 3rem;
  border: none;
  background-color: transparent;
  position: sticky;
  display: flex;
  align-items: center;
  padding: 0 10px;
  z-index: 50;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  /* opacity: 0; */

  /* background-color: rgba(0, 0, 0, 0.7); */
  background-color: rgba(95, 142, 122, 0.7);
  opacity: 1;
  overflow: visible;
}

.btn_show_case_l {
  left: 0;
  margin-left: -3.7rem;
  top: 20px;
  max-height: 33rem;
}

.btn_show_case_r {
  right: 0;
  margin-left: -5.9rem;
  top: 20px;
  max-height: 33rem;
}

.btn_cast_l {
  left: 0;
  margin-left: -3.7rem;
  top: 0px;
  max-height: 22.75rem;
}

.btn_cast_r {
  right: 0;
  margin-left: -5.9rem;
  top: 0px;
  max-height: 22.75rem;
}
