.btn {
	margin-top: 2rem;
	background: none;
	color: var(--white);
	padding: 1rem;
	border: 1px solid var(--white);
	cursor: pointer;
}

.btn:hover {
	background: var(--white);
	color: var(--black);
}

.btn_favorite {
	background: var(--white);
	color: var(--black);
	margin-left: 1.5rem;
}

.btn_favorite:hover {
	background: none;
	color: var(--white);
}
