.card {
  max-width: 21.5rem;
  height: 37.8rem;
  margin-right: 2.18rem;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-shrink: 1;
}

.image_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 21.5rem;
  height: 32rem;
  border-radius: 10px;
}

.spinner {
  position: absolute;
  left: 50%;
  width: 40px;
  height: 40px;
}

.img {
  transition: transform 0.3s ease;
}

.img:hover {
  transform: scale(1.05);
}

.title {
  font-size: 1.6rem;
  margin-top: 1.4rem;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--white);
  transition: color 0.3s;
}

.title:hover {
  color: var(--aqua);
}

.details_show_container {
  display: flex;
  justify-content: space-between;
  color: var(--grey);
  font-size: 1.4rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.details_person_container {
  color: var(--grey);
  text-align: center;
  font-size: 1.4rem;
}

.heart {
  position: absolute;
  top: 1.8rem;
  right: 0.6rem;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    opacity 1.2s ease;
  opacity: 0;
  pointer-events: none;
  width: 2.5rem;
  height: 2.5rem;
}

.heartVisible {
  opacity: 1;
  pointer-events: auto;
}

.card:hover .heart {
  opacity: 1;
  pointer-events: auto;
}

.heart:hover {
  transform: scale(1.2);
}

@media (max-width: 1439px) {
  .card {
    height: 34.8rem;
  }
  .image_container {
    width: 20rem;
    height: 29.8rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .details_show_container {
    font-size: 1.2rem;
  }
}

@media (max-width: 1345px) {
  .card {
    height: 31.4rem;
  }
  .image_container {
    width: 18rem;
    height: 26.5rem;
  }
}

@media (max-width: 820px) {
  .card {
    height: 27.8rem;
  }

  .image_container {
    width: 16rem;
    height: 23.8rem;
  }

  .title {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
}

@media (max-width: 730px) {
  .card {
    height: 24.3rem;
  }
  .image_container {
    width: 14rem;
    height: 20.5rem;
  }

  .title {
    font-size: 1.1rem;
  }

  .details_show_container {
    font-size: 1.1rem;
  }

  .heart {
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 490px) {
  .card {
    height: 20.6rem;
    margin-right: 0.5rem;
  }
  .image_container {
    width: 12rem;
    height: 17rem;
  }

  .title {
    font-size: 1.1rem;
    margin-top: 0.5rem;
  }

  .heart {
    width: 1.8rem;
    height: 1.8rem;
  }
}
