@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Jaro:opsz@6..72&family=Monoton&display=swap');

.modal_container {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal_background {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
}

.modal_image_wrapper {
  position: relative;
  max-width: 70rem;
  width: 40%;
  overflow: hidden;
  z-index: 2;
  border: 3px solid white;
}

.carousel_track {
  display: flex;
  transition: transform 0.35s ease-in-out;
}

.modal_image {
  width: 100%;
  max-height: auto;
  /* height: 0%; */
  /* max-height: 30%; */
  flex-shrink: 0;
  user-select: none;
  pointer-events: none;
}

.modal_btn {
  z-index: 99;
  color: white;
  font-size: 3rem;
  border: none;
  background-color: transparent;
  margin: 0 2rem;
}

.modal_number {
  font-family: 'Monoton', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  position: absolute;
  bottom: 2vh;
  right: 1vw;
  background: linear-gradient(45deg, #8c8c8c, #a6a6a6, #d9d9d9, #ffffff);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal_image_wrapper {
  cursor: pointer;
}

@media (pointer: coarse) and (hover: none) {
  .modal_btn {
    display: none;
  }
}
