.container {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
}

.modal_background {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal_content {
  position: relative;
  border: 0.1px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-width: 120rem;
  max-height: 90vh;
  box-sizing: border-box;
  padding: 1px;
}

.modal_content iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-height: 90vh;
}

@media (orientation: landscape) and (min-width: 650px) and (max-width: 1180px) {
  .modal_content {
    width: 80%;
  }
}

@media (orientation: landscape) and (max-width: 600px) {
  .modal_content {
    max-width: 65rem;
    max-height: 80vh;
  }

  .modal_content iframe {
    max-height: 78vh;
    width: 100%;
  }
}
