.container {
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 1rem 0;
  overflow-x: scroll;
}

.header {
  text-align: center;
  font-size: 2.1rem;
}

.container_images {
  display: flex;
  margin-top: 2.2rem;
  overflow-x: scroll;
}

.justify_content {
  justify-content: center;
}

.hiddenOverflow {
  overflow: hidden;
}

.image_container {
  margin-right: 2.4rem;
  max-width: 19rem;
  overflow: hidden;
}

.image_container:hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
}

.btn {
  top: 0px;
  max-height: 27rem;
  color: var(--white);
  font-size: 3rem;
  border: none;
  position: sticky;
  padding: 0 10px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  background-color: var(--black-transparent);
  opacity: 0;
  z-index: 1;
}

.btn_left {
  left: 0;
  margin-left: -3.7rem;
}
.btn_right {
  right: 0;
  margin-left: -5.8rem;
}

.container:hover .btn_left,
.container:hover .btn_right {
  opacity: 1;
}

.spinner {
  position: absolute;
  left: 36%;
  top: 50%;
}
