.container {
  margin: -10rem auto 10rem auto;
  padding-top: 15rem;
  display: flex;
  max-width: 120rem;
}

.imsge_container {
  position: relative;
}

.text_container {
  margin-left: 4rem;
  width: 100%;
  font-size: 2rem;
  margin-top: 2rem;
}

.person_name {
  font-size: 3.8rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.biography_container {
  font-size: 1.6rem;
  margin-top: 1.2rem;
}

.biography_container button {
  font-size: 1.4rem;
  margin-left: 1rem;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  color: #3a8dff;
  transition: color 0.3s;
}

.biography_container button:hover {
  color: var(--aqua);
}

.biography_container strong {
  font-size: 2rem;
}

.biography_container p {
  margin-top: 1.2rem;
  color: var(--grey);
  line-height: 1.4;
}

.details_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details_container strong {
  color: var(--white);
}

.details_container li {
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 1.4rem;
  color: var(--grey);
}

.spinner {
  position: absolute;
  left: 45%;
  top: 50%;
}
