.container {
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 4rem;
  /* padding: 1rem 0; */
  overflow-x: scroll;
}

.container li {
  position: relative;
  margin-right: 2.4rem;
}

.header {
  text-align: center;
  font-size: 2.1rem;
}

.container_images {
  display: flex;
  margin-top: 2.2rem;
  /* overflow-x: scroll; */
  /* border: 1px solid blue; */
}

.justify_content {
  justify-content: center;
}

.hiddenOverflow {
  overflow: hidden;
}

.image_container {
  width: 18rem;
  overflow: hidden;
  aspect-ratio: 2 / 3;
}

.image_container:hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image:hover {
  transform: scale(1.05);
}

.btn {
  top: 0px;
  max-height: 27rem;
  color: var(--white);
  font-size: 3rem;
  border: none;
  position: sticky;
  padding: 0 10px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  background-color: var(--black-transparent);
  opacity: 0;
  z-index: 1;
}

.btn_edge {
  opacity: 0 !important;
}

.btn_left {
  left: 0;
  margin-left: -3.7rem;
}
.btn_right {
  right: 0;
  margin-left: -5.8rem;
}

.container:hover .btn_left,
.container:hover .btn_right {
  opacity: 1;
}

.spinner {
  position: absolute;
  left: 36%;
  top: 50%;
}

@media (pointer: coarse) and (hover: none) {
  .btn {
    display: none;
  }
}

@media (max-width: 1250px) {
  .container {
    max-width: 102rem;
  }
  .image_container {
    width: 15rem;
  }
}

@media (max-width: 1060px) {
  .container {
    max-width: 85rem;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 67.2rem;
    /* max-width: 68.8rem; */
  }
}

@media (max-width: 700px) {
  .container {
    max-width: 58.2rem;
  }

  .container li {
    margin-right: 2rem;
  }

  .image_container {
    width: 13rem;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 44.3rem;
  }

  .container li {
    margin-right: 1.4rem;
  }

  .image_container {
    width: 10rem;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 39rem;
  }

  .image_container {
    width: 12rem;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 35.8rem;
  }

  .image_container {
    width: 11rem;
  }
}

@media (max-width: 365px) {
  .container {
    max-width: 29.9rem;
  }

  .image_container {
    width: 9rem;
  }
}
