.container {
  margin: 6rem auto 0 auto;
  max-width: 128.1rem;
}
.header {
  font-size: 2.1rem;
  text-align: center;
}

.videos_container {
  display: flex;
  overflow-x: scroll;
  text-align: center;
  margin-top: 2.2rem;
}

.justify_content {
  justify-content: center;
}

.video {
  margin-right: 2.54rem;
  cursor: pointer;
  position: relative;
}

.videos_container .video:last-child {
  margin-right: 0;
}

.video_name {
  margin-top: 1rem;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.video_name:hover {
  color: var(--aqua);
}

.iframeContainer {
  border: 0.1px solid rgba(255, 255, 255, 0.319);
  transition:
    border-color 0.5s ease,
    transform 0.5s ease;
}

.iframeContainer iframe {
  pointer-events: none;
  width: 408px;
  height: 230px;
}

.iframeContainer:hover {
  border-color: white;
}

.btn {
  top: 0px;
  max-height: 20.2rem;
  color: var(--white);
  font-size: 3rem;
  border: none;
  position: sticky;
  padding: 0 10px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  background-color: var(--black-transparent);
  opacity: 0;
  z-index: 1;
}

.btn_edge {
  opacity: 0 !important;
}

.btn_left {
  left: 0;
  margin-left: -3.7rem;
}
.btn_right {
  right: 0;
  margin-left: -5.9rem;
}

.videos_container:hover .btn_left,
.videos_container:hover .btn_right {
  opacity: 1;
}

.spinner {
  position: absolute;
  top: 45%;
}

@media (pointer: coarse) and (hover: none) {
  .btn {
    display: none;
  }
}

@media (max-width: 1310px) {
  .container {
    max-width: 120rem;
  }
  .iframeContainer iframe {
    width: 380px;
    height: 213px;
  }
}

@media (max-width: 1230px) {
  .container {
    max-width: 111rem;
  }
  .iframeContainer iframe {
    width: 350px;
    height: 196.8px;
  }
}

@media (max-width: 1160px) {
  .container {
    max-width: 102rem;
  }
  .iframeContainer iframe {
    width: 320px;
    height: 180px;
  }
}

@media (max-width: 1050px) {
  .container {
    max-width: 90rem;
  }
  .iframeContainer iframe {
    width: 280px;
    height: 157px;
  }
}

@media (max-width: 930px) {
  .container {
    max-width: 59rem;
  }
}

@media (max-width: 630px) {
  .container {
    max-width: 55rem;
    margin-right: 4.5rem;
    margin-left: 4.5rem;
  }
}

@media (max-width: 470px) {
  .container {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .iframeContainer iframe {
    width: 270px;
    height: 152px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 28rem;
    margin-right: auto;
    margin-left: auto;
  }
}
