.container {
  max-width: 116rem;
  margin: 7rem auto 0 auto;
}

.header {
  font-size: 2.1rem;
  text-align: center;
}

.cast_container {
  display: flex;
  overflow-x: scroll;
  margin-top: 2.2rem;
  line-height: 1.1;
}

.justify_content {
  justify-content: center;
}

.person_box {
  margin-right: 2.8rem;
  font-size: 1.5rem;
  max-width: 17rem;
  text-align: center;
}

.img_container {
  position: relative;
  width: 17rem;
  height: 23rem;
}

.person_img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.3s ease;
}

.person_img:hover {
  transform: scale(1.05);
}

.person_box p {
  margin-top: 0.3rem;
  color: var(--grey);
  line-height: 1.15;
}

.person_box strong {
  transition: color 0.3s;
}

.person_box strong:hover {
  color: var(--aqua);
}

.name_box {
  margin-top: 1rem;
}

.btn {
  top: 0px;
  max-height: 23.2rem;
  color: var(--white);
  font-size: 3rem;
  border: none;
  position: sticky;
  padding: 0 10px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  background-color: var(--black-transparent);
  opacity: 0;
  z-index: 1;
}

.btn_edge {
  opacity: 0 !important;
}

.btn_left {
  left: 0;
  margin-left: -3.7rem;
}
.btn_right {
  right: 0;
  margin-left: -5.9rem;
}

.cast_container:hover .btn_left,
.cast_container:hover .btn_right {
  opacity: 1;
}

.spinner {
  position: absolute;
  top: 40%;
}

@media (pointer: coarse) and (hover: none) {
  .btn {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 104rem;
  }
  .img_container {
    width: 15rem;
    height: 20rem;
  }
}

@media (max-width: 1060px) {
  .container {
    max-width: 86.1rem;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 68.4rem;
  }
}

@media (max-width: 700px) {
  .container {
    max-width: 54rem;
  }

  .person_box {
    margin-right: 2rem;
    font-size: 1.2rem;
  }

  .img_container {
    width: 12rem;
    height: 16rem;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 46rem;
  }

  .img_container {
    width: 10rem;
    height: 14rem;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 38.7rem;
    margin-top: 3rem;
  }

  .person_box {
    margin-right: 1.4rem;
  }

  .img_container {
    width: 12rem;
    height: 16rem;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 35.8rem;
  }

  .img_container {
    width: 11rem;
    height: 15.5rem;
  }
}

@media (max-width: 365px) {
  .container {
    max-width: 29.8rem;
  }

  .img_container {
    width: 9rem;
    height: 13rem;
  }
}
