.container {
  margin: 6rem auto 0 auto;
  max-width: 127.9rem;
}
.header {
  font-size: 2.1rem;
  text-align: center;
}

.videos_container {
  display: flex;
  overflow-x: scroll;
  text-align: center;
  margin-top: 2.2rem;
}

.justify_content {
  justify-content: center;
}

.video {
  margin-right: 2.54rem;
  margin-bottom: 5rem;
  cursor: pointer;
}

.videos_container .video:last-child {
  margin-right: 0;
}

.video_name {
  margin-top: 1rem;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.video_name:hover {
  color: var(--aqua);
}

.iframeContainer {
  border: 0.1px solid rgba(255, 255, 255, 0.319);
  transition:
    border-color 0.5s ease,
    transform 0.5s ease;
}

.iframeContainer iframe {
  pointer-events: none;
}

.iframeContainer:hover {
  border-color: white;
}

.btn {
  top: 0px;
  max-height: 20.2rem;
  color: var(--white);
  font-size: 3rem;
  border: none;
  position: sticky;
  padding: 0 10px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  background-color: var(--black-transparent);
  opacity: 0;
}

.btn_left {
  left: 0;
  margin-left: -3.7rem;
}
.btn_right {
  right: 0;
  margin-left: -5.9rem;
}

.videos_container:hover .btn_left,
.videos_container:hover .btn_right {
  opacity: 1;
}

.spinner {
  position: absolute;
  top: 45%;
}
