.images_container {
  display: flex;
  max-width: 127.9rem;
  margin: 5rem auto 0 auto;
  overflow-y: hidden;
  /* scrollbar-width: none;
	-ms-overflow-style: none; */
}

.images {
  margin-right: 2.45rem;
  border: 0.1px solid white;
}
