.container {
  margin: 3rem auto 0 auto;
  max-width: 127.9rem;
}
.header {
  font-size: 2.1rem;
  text-align: center;
}

.images_container {
  display: flex;
  overflow-y: hidden;
  margin-top: 2.2rem;
}
.justify_content {
  justify-content: center;
}

.hiddenOverflow {
  overflow: hidden;
}

.images {
  margin-right: 2.45rem;
  border: 0.1px solid white;
  cursor: pointer;
}

.btn {
  top: 0px;
  max-height: 23rem;
  color: var(--white);
  font-size: 3rem;
  border: none;
  position: sticky;
  padding: 0 10px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  background-color: var(--black-transparent);
  opacity: 0;
}

.btn_left {
  left: 0;
  margin-left: -3.7rem;
}
.btn_right {
  right: 0;
  margin-left: -5.9rem;
}

.images_container:hover .btn_left,
.images_container:hover .btn_right {
  opacity: 1;
}

.spinner {
  position: absolute;
  left: 40%;
  top: 50%;
}
