.container {
  max-width: 140rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.header_container {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  color: var(--white);
  margin-bottom: 1.5rem;
}

.explore {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--grey);
  transition:
    transform 0.3s ease-in-out,
    color 0.3s ease-in-out,
    background 0.3s ease-in-out;
}

.explore:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #ff7eb9, #3a8dff);
  -webkit-background-clip: text;
  color: transparent;
}

.explore:not(:hover) {
  color: var(--grey);
  transition: color 0s;
}

.show_list {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.btn {
  max-height: 32rem;
  color: var(--white);
  font-size: 3rem;
  border: none;
  position: sticky;
  padding: 0 10px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  background-color: var(--black-transparent);
  opacity: 0;
  z-index: 2;
}

.btn_left {
  left: 0;
  margin-left: -3.7rem;
}
.btn_right {
  right: 0;
  margin-left: -5.9rem;
}

.container:hover .btn_left,
.container:hover .btn_right {
  opacity: 1;
}

@media (pointer: coarse) and (hover: none) {
  .btn {
    display: none;
  }
}

@media (max-width: 1439px) {
  .container {
    max-width: 131rem;
  }
  .btn {
    max-height: 29.8rem;
  }
}

@media (max-width: 1345px) {
  .container {
    max-width: 119rem;
  }
  .btn {
    max-height: 26.5rem;
  }
}

@media (max-width: 1220px) {
  .container {
    max-width: 99rem;
  }
}

@media (max-width: 1023px) {
  .container {
    max-width: 78.9rem;
  }
  .btn {
    max-height: 26.5rem;
  }
}
@media (max-width: 820px) {
  .container {
    max-width: 71rem;
  }
  .btn {
    max-height: 24rem;
  }
}

@media (max-width: 730px) {
  .container {
    max-width: 63rem;
  }
  .btn {
    max-height: 20.5rem;
  }
}

@media (max-width: 650px) {
  .container {
    max-width: 46.8rem;
  }
  .header {
    font-size: 1.4rem;
  }
  .explore {
    font-size: 1rem;
  }
}

@media (max-width: 490px) {
  .container {
    max-width: 37.2rem;
  }
  .btn {
    max-height: 17rem;
  }
}
