.videos_container {
  display: flex;
  overflow-x: scroll;
  max-width: 127.9rem;
  margin: 5rem auto 0 auto;
  text-align: center;
}

.video {
  margin-right: 2.54rem;
  margin-bottom: 5rem;
}

.iframeContainer {
  border: 0.1px solid rgba(255, 255, 255, 0.319);
  margin-bottom: 1.2rem;
}
